{% extends 'restaurant/base.html' %}
{% load static %}

{% block title %}
  Sign up
{% endblock %}

{% block body %}

<!-- ***** Reservation Us Area Starts ***** -->
<section class="section" id="reservation" style="margin-top:0; padding-top: 36px;">
    <div class="container">
        <div class="row">
           <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="contact-form">
                    <form id="contact" class="form" action="{ url 'signup'}" method="post">
                      <div class="logo text-center">
                        <a href="index.html" class="logo">
                            <img src="{% static 'images/klassy-logo.png' %}" align="klassy cafe html template">
                        </a>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                            <h4>Sign Up</h4>
                        </div>
                        {% csrf_token %}  
                        <!-- <input type="hidden" name="from_join" value="0"> -->
                        <input type="hidden" name="type" value="{{type}}">
                        <input type="hidden" name="position_id" value="{{position_id}}">
                        <div class="col-sm-12">
                          <fieldset>
                            <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                          </fieldset>
                        </div>
                        <div class="col-sm-12">
                          <fieldset>
                          <input name="email" type="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                        </fieldset>
                        </div>
                        <div class="col-sm-12">
                          <fieldset>
                            <input name="password" type="password" id="password" placeholder="Password*" required="">
                          </fieldset>
                        </div>
                        <div class="col-sm-12">
                          <fieldset>
                            <input name="phone" type="text" id="phone" placeholder="Phone Number*" required="">
                          </fieldset>
                        </div>

                        <div class="col-sm-12">
                          <fieldset>
                            <input name="job" type="text" id="job" placeholder="Job Title" required="">
                          </fieldset>
                        </div>


                        <div class="col-sm-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="main-button-icon">Sign Up</button>
                          </fieldset>
                        </div>

                        <div class="col-sm-12 mt-2">
                            <span>Already have login and password?</span>
                            <a href="{% url 'signin' %}" class="text-info">Sign in</a>
                        </div>

                        <div class="col-sm-12 mt-2">
                            <span>Register as </span>
                            <a href="{% url 'add_company' %}" class="text-sm text-info">Company</a> Or
                            <a href="{% url 'add_restaurant' %}" class="text-info">Restaurant</a>
                        </div>
                      </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Reservation Area Ends ***** -->

{% endblock %}
