{% extends 'restaurant/base.html' %}
{% load static %}

{% block title %}
  Ahmed Eid-Profile
{% endblock %}

{% block body %}

    <!-- ***** Menu Area Starts ***** -->
    <section class="section" id="dashboard">
        <div class="container">
          <form class="user-update" action="{% url 'user_profile' %}" method="post">
            <div class="row">
              {% if messages %}
              <div class="col-md-12">
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              </div>
              {% endif %}
                <div class="col-md-4">
                  <div class="img-profile">
                    <div class="img">
                      <img src="{% static 'images/user.png' %}" alt="Default User Image" width="100%">
                    </div>
                    <div class="btn-control">
                      <input type="file" class="text-success" name="user_image" />
                      <a href="#" class="text-danger">Delete</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <!-- <div class="form-group row">
                      <label for="name" class="col-sm-2 col-form-label-sm">Name </label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control form-control-sm" id="name">
                      </div>
                    </div> -->
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Update</button>
                      </div>
                    </div>


                </div>
                <div class="col-md-4">

                </div>
            </div>
          </form>
        </div>

    </section>
    <!-- ***** Menu Area Ends ***** -->


{% endblock %}
